<h1>Consulta de Auditorias</h1>

<div>
    <form [formGroup]="formulario">
        <div class="row">
            <div class="col">
                Tienda
            </div>
            <div class="col">
                <select class="form-select" formControlName="tienda" *ngIf="tiendas && tiendas.length > 0">
                    <option *ngFor="let tienda of tiendas" value="{{tienda.claveAlmacen}}">
                        {{tienda.claveAlmacen}} - {{tienda.nombreAlmacen}}
                    </option>
                </select>
                
            </div>
            <div class="col">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                Fecha Inicio:
            </div>
            <div class="col">
                <input class="form-control" type="date" formControlName="fechaInicio" placeholder="Fecha inicio" required pattern="\d{4}-\d{2}-\d{2}">
            </div>
            <div class="col">
                Fecha Fin:
            </div>
            <div class="col">
                <input class="form-control" type="date" formControlName="fechaFin" placeholder="Fecha fin" required pattern="\d{4}-\d{2}-\d{2}">
            </div>
            <div class="col">
                <button class="btn btn-primary" (click)="buscarAuditorias(this.formulario.value.tienda, this.formulario.value.fechaInicio, this.formulario.value.fechaFin)">Buscar</button>
                
                <a href="{{'http://192.168.84.108:8080/servicios/auditoria_tienda_descarga_cl/'+ this.formulario.value.tienda + '/'+ this.formulario.value.fechaInicio +'/'+ this.formulario.value.fechaFin +'/'}}" class="btn btn-primary ms-2">Descargar</a>
            </div>
        </div>
    </form>
</div>
<p></p>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Tienda</th>
            <th scope="col">Fecha Recepción</th>
            <th scope="col">Total Contenedores</th>
            <th scope="col">Contenedores Auditados</th>
            <th scope="col">% Contenedores Auditados</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let auditoria of auditorias">
            <td>{{auditoria.tienda}}</td>
            <td>
            <span [matTooltip]="pedidos[auditoria.fechaRecepcion]?.join(', ') || 'Cargando...'" (mouseenter)="buscarOrdenes(auditoria.tienda, auditoria.fechaRecepcion)">
                {{auditoria.fechaRecepcion}}
              </span>
            </td>
            <td>{{auditoria.totalContenedores}}</td>
            <td>{{auditoria.contenedoresAuditados}}</td>
            <td>{{auditoria.porcentaje}}</td>
            <td><a [routerLink]="['/sub-family-orders']" [queryParams]="{tienda: auditoria.tienda,fecha: auditoria.fechaRecepcion}"
                (click)="guardarDatos(this.formulario.value.tienda,this.formulario.value.fechaInicio,this.formulario.value.fechaFin)">SubFamily</a></td>
        </tr>
    </tbody>
</table>
<div class="row" *ngIf="auditorias.length==0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert" align="Center">
            No existen recibos en el periodo indicado.
        </div>
    </div>
</div>